body {
    background: #ffffff url(img/bgImg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#firstDiv{
	margin-top: 5em; 
	margin-bottom: 2em; 
	border-bottom: 1px solid #ccc;
}

#firstH{
	color: #34495E; 
	font-family: 'Lato', sans-serif; 
	font-size: 84px; 
	font-weight: 300; 
	line-height: 58px; 
	margin: 0 0 58px; 
	text-align: center;
}

#firstP{
	color: #34495E;
	text-align: center; 
	margin-top: -2em; 
	font-family: 'Lato', sans-serif; 
	font-size: 20px;
}
#lastP{
	color: black;
}
img{
	border-radius: 50%;
}

h1 {
    color: white;
    text-align: center;
}

.center {
    font-family: verdana;
    font-size: 20px;
    color: #f55;
    text-align: center;
}
a{
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid #cdc;
	background-color: white;
	padding: 5px 5px 5px 5px;
}
a:hover{
	color: white;
	border-radius: 5px;
	border: 1px solid #AF7AC5;
	background-color: #AF7AC5;
}